process {
  withName:porechop {
    container = "quay.io/biocontainers/porechop:0.2.4--py39h1f90b4d_6"
}
 withName:dragonflye {
    container = "quay.io/biocontainers/dragonflye:1.1.1--hdfd78af_0"
 }
 withName:abricate {
  container= "quay.io/biocontainers/abricate:1.0.1--ha8f3691_1"
 }
 withName:abricate_summary {
  container= "quay.io/biocontainers/abricate:1.0.1--ha8f3691_1"
 }
 withName:seqkit_typing {
    container = "quay.io/biocontainers/seqkit:2.5.1--h9ee0642_0"
}
 withName:make_report {
    container = "rocker/r-rmd:latest"
}
}