process {
  withName:porechop {
    container = "quay.io/biocontainers/porechop:0.2.4--py39h1f90b4d_6"
}
 withName:dragonflye {
    container = "quay.io/biocontainers/dragonflye:1.1.1--hdfd78af_0"
 }
 withName:abricate {
  container= "quay.io/biocontainers/abricate:1.0.1--ha8f3691_1"
 }
 withName:abricate_summary {
  container= "quay.io/biocontainers/abricate:1.0.1--ha8f3691_1"
 }

 withName:mlst {
  container="quay.io/biocontainers/mlst:2.9--h031d066_5"
 }
 withName:rgi_amr{
  container="quay.io/biocontainers/rgi:6.0.2--pyha8f3691_0"

 }
 withName:prokka {
  container="quay.io/staphb/prokka:1.14.6"
 }
  withName:roary {
  container="quay.io/staphb/roary:latest"
 }
  withName:genotyping_minimap {
    container = 'quay.io/staphb/minimap2:2.25'
}
  withName:genotyping_samtools {
    container = "quay.io/staphb/samtools:1.17"
}
  withName:genotyping_seqkit {
    container = "quay.io/biocontainers/seqkit:2.5.1--h9ee0642_0"
}
    withName:serotyping_seqkit {
    container = "quay.io/biocontainers/seqkit:2.5.1--h9ee0642_0"
}
}